body{
    background-color: sandybrown;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator{
    width: 300px;
    padding:20px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.calculator-screen{
    width: 100%;
    background-color: darkseagreen;
    margin-bottom: 20px;
    height: 70px;
    border-radius: 5px;
    color: black;
    text-align: right;
    font-size: 24px;
    padding: 20px;
    box-sizing: border-box;
    
}

.calculator-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button{
    width: 60px;
    height: 60px;
    background-color: lightgray;
    border: 1px solid black;
    margin: 5px;
    font-size: 24px;
    border-radius: 5px;
}

.button:hover{
    background-color: grey;
}

.clear{
    background-color: red;
} 

.operator{
    background-color: cyan;
}

.equal{
    background-color: lime;
}

.clear:hover{
    background-color: darkred;
}

.operator:hover{
    background-color: darkcyan;
}

.equal:hover{
    background-color: darkgreen;
}